<p class="task-error" ng-hide="lists">
    There is no list, please create a list before create a task.
</p>

<form name="formList">
    <h2>Create a new list</h2>
    <div class="input-group">
         <label for="list">List name:</label>
        <input type="text" name="list" id="list" class="form-control" ng-disabled placeholder="List" ng-model="newList.name">
    </div>
    <div class="input-group">
        <button class="btn btn-success" ng-disabled="formList.$pristine" ng-click="displayList()">Create a new list</button>
    </div>
</form>

<form name="formTask" ng-show="lists">
    <h2>Add a new task</h2>
    <div class="input-group">
         <label for="task">Task name:</label>
        <input type="text" id="task" class="form-control" ng-disabled placeholder="Task" ng-model="newTask.name">
    </div>
    <div class="input-group">
        <label for="task-list">Task list:</label>
        <select class="form-control" id="task-list" name="task-list" ng-disabled  ng-model="newTask.list" ng-repeat="list in lists">
            <option>{{list.name}}</option>
        </select>
    </div>
    <div class="input-group">
        <button class="btn btn-success" ng-disabled="formTask.$pristine" ng-click="displayTask()">Add a new task</button>
    </div>
</form>