<p class="task-error" ng-hide="lists">
    There is no list, please create a list before create a task.
</p>

<form name="formList">
    <h2>Create a new list</h2>
    <div class="input-group">
         <label for="list">List name:</label>
         <input type="text" id="list" class="form-control" placeholder="List" ng-model="newList.name" required>
    </div>
    <div class="input-group">
        <button class="btn btn-success" ng-disabled="formList.$invalid" ng-click="displayList()">Create a new list</button>
    </div>
</form>

<form name="formTask" ng-show="lists">
    <h2>Add a new task</h2>
    <div class="input-group">
         <label for="task-name">Task name:</label>
         <input type="text" id="task-name" class="form-control" placeholder="Task" ng-model="newTask.name" required>
    </div>
    <div class="input-group">
         <label for="task-content">Task description:</label>
         <input type="text" id="task-content" class="form-control" placeholder="Task description" ng-model="newTask.content">
    </div>
    <div class="input-group">
        <label for="task-list">Task list:</label>
        <select class="form-control" id="task-list" name="task-list"  ng-options="list.name for list in lists track by list.id" ng-model="newTask.list" required>
        </select>
    </div>
    <div class="input-group">
        <button class="btn btn-success" ng-disabled="formTask.$invalid" ng-click="displayTask()">Add a new task</button>
    </div>
</form>