<input ng-model="search" type="text" class="form-control" placeholder="{{ 'search' | translate }}" style="margin-bottom: 10px">
<div ng-repeat="list in lists">
    <h2 style="margin:0" ng-show="list.tasks.length">{{list.name}}</h2>
    <table class="table table-hover" ng-show="list.tasks.length">
        <thead>
            <tr>
                <th>{{ 'name' | translate }}</th>
                <th>{{ 'description' | translate }}</th>
                <th>{{ 'creation_date' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in list.tasks | filter:search | orderBy:'createdAt':true" ng-click="goTask(task)" class="fade">
                <td>{{task.name}}</td>
                <td>{{task.content}}</td>
                <td>{{task.createdAt | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>
