<h1 ng-hide="editing">
    {{currentTask.name}}
    <span class="fa fa-pencil task-action" ng-click="editing = true;"></span>
    <span class="fa fa-check task-action" ng-click="deleteTask()"></span>
</h1>
<h1 ng-show="editing">{{ 'editing' | translate }}</h1>
<p class="task-info">
    <b>{{ 'creation_date' | translate }}:</b> {{currentTask.createdAt | date: 'dd/MM/yyyy HH:mm'}}
    <br>
    <b>{{ 'list_name' | translate }}:</b> {{currentTask.list.name}}
</p>
<p ng-hide="editing">{{currentTask.content}}</p>
<form name="formUpdate" ng-show="editing">
	<div class="input-group">
		<label for="task-name">{{ 'task_name' | translate }}:</label>
		<input type="text" id="task-name" class="form-control" placeholder="{{ 'task_name' | translate }}" ng-model="currentTask.name" required>
	</div>
	<div class="input-group">
		<label for="task-content">Task description:</label>
		<input type="text" id="task-content" class="form-control" placeholder="{{ 'task_description' | translate }}" ng-model="currentTask.content">
	</div>
	<div class="text-center">
		<button class="btn btn-success" ng-disabled="formUpdate.$invalid" ng-click="updateTask()" ng-show="editing">{{ 'update_task' | translate }}</button>
	</div>
</form>
