<p class="task-info">
    <span class="list">{{currentTask.list.name}}</span>
    <span class="date">Updated at {{currentTask.createdAt | date: 'dd/MM/yyyy HH:mm'}}</span>
    <br>
    <span class="fa fa-pencil action" ng-click="editing = true" ng-hide="editing"></span>
</p>
<p>{{currentTask.content}}</p>
<div class="text-center">
    <button class="btn btn-success" ng-click="removeTask()" ng-hide="editing">Complete and remove the task</button>
    <button class="btn btn-success" ng-click="updateTask()" ng-show="editing">Update the task</button>
</div>
