<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
  <header class="header-bar">
    <div class="center">
      <h1 class="title"><%= title %></h1>
    </div>
  </header>
  <div class="content">

  </div>
  <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </body>
</html>
