<!DOCTYPE html>
<html>
  <head>
    <title>Listodo</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
  <header class="header-bar">
    <div class="center">
      <h1 class="title">Listodo</h1>
    </div>
  </header>
  <div class="content">
    <div class="padded-full">
      <h1>Sign up</h1>
      <form action="/signup" method="post">
        <input type="email" name="email" required placeholder="Email">
        <input type="password" name="password" required placeholder="Password">
        <div class="padded-bottom"></div>
        <button class="btn fit-parent primary">Submit</button>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </body>
</html>
